<div class="wrapper row0 bgded" style="background-image:url('images/demo/backgrounds/01.gif');">
  <div id="pageintro" class="hoc clear"> 
    <article>
        <h2 class="heading">您可以信任的好夥伴</h2>
        <p>我們提供熱固性塑膠，包括電木、美耐皿、尿素等射出成型代工與開模的服務，我們的宗旨就是極力滿足客戶的需求，經過20多年來的專業，希望能為您服務。</p>
    </article>
  </div>
</div>


<div class="wrapper row3">
  <section class="hoc container clear"> 
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Vitae mauris dignissim</h3>
    </div>

    <div class="group">
    <!--  
      <article class="one_third first">
        <time class="font-xs" datetime="2045-04-06">6<sup>th</sup> April 2045</time>
        <h2 class="nospace font-x1 bold">Laoreet augue porttitor</h2>
        <p>Ipsum ut nunc dapibus vulputate cras nec viverra lectus nulla eu bibendum est in convallis diam non odio&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
    -->
      <article class="two_quarter frist">
        <h2 class="nospace font-x1 bold">為什麼選我們</h2>
        <p>Nunc non placerat mauris curabitur aliquet orci vitae tristique molestie magna tellus suscipit ante sed knokkkkkkkkkkkkkkkkkkkkkkvnrtovnortnvoitrnviotnoivnioqtnviotnviontrvw[n[t[iquvbn[uobnv[ouirnbvio[bnoi[rntoinvoirtnvoi[rtnoi[vntronvoi[rtnvoi[rnoivnrtoinvoirnv[ointiqnv[oqn[ovn[oqnviou[no[iuvni[onviotntovnNunc non placerat mauris curabitur aliquet orci vitae tristique molestie magna tellus suscipit ante sed knokkkkkkkkkkkkkkkkkkkkkkvnrtovnortnvoitrnviotnoivnioqtnviotnviontrvw[n[t[iquvbn[uobnv[ouirnbvio[bnoi[rntoinvoirtnvoi[rtnoi[vntronvoi[rtnvoi[rnoivnrtoinvoirnv[ointiqnv[oqn[ovn[oqnviou[no[iuvni[onviotntovn</p>
      </article>

      <article class="one_half_s">
        <div id="gallery">
          <ul class="nospace clear">
            <li class="two_quarter first"><a href="#"><img src="./images/demo/gallery/01.png" alt=""></a></li>
            <li class="two_quarter"><a href="#"><img src="./images/demo/gallery/01.png" alt=""></a></li>
            <li class="two_quarter first"><a href="#"><img src="./images/demo/gallery/01.png" alt=""></a></li>
            <li class="two_quarter"><a href="#"><img src="./images/demo/gallery/01.png" alt=""></a></li>
          </ul>
        </div>
      </article>

    </div>
  </section>
</div>